<h4>"Tu aventura en el mar comienza aquí"</h4>

<div class="container">
  <div class="left-image">
    <img src="../../img/inicio1.jpg" alt="Imagen izquierda" class="card-image" style="width: 620px;" />
  </div>
  <div class="right-card">
    <div class="card">
      <div class="card-images">
        <img src="../../img/inicio2.jpg" alt="Imagen derecha" class="card-image" style="width: 209px; height: 120px;" />
        <img src="../../img/inicio3.jpg" alt="Imagen adicional" class="card-image" style="width: 209px; height: 120px;"/>
        <img src="../../img/inicio4.jpg" alt="Otra imagen" class="card-image" style="width: 210px;" />
      </div>
      <div class="card-content">
        <h3>Bienvenidos a Navega Salinas!</h3>
        <p>
          ¡Bienvenidos a Navega Salinas!
          Nos complace recibirte en nuestra plataforma de alquiler de barcos en la hermosa ciudad de Salinas. Aquí, podrás encontrar una selección de embarcaciones de alta calidad, listas para brindarte una experiencia
          inolvidable en el mar. Estamos aquí para ayudarte a encontrar el barco perfecto de tus sueños para tus necesidades.
          Explora nuestras opciones y disfruta de la belleza y aventura que el océano tiene para ofrecer. ¡Bienvenido a
          bordo y a disfrutar del mar con Navega Salinas! </p>
      </div>
    </div>
  </div>
</div>