<h4>"Tu aventura en el mar comienza aquí"</h4>

<div class="container">
  <div class="left-image">
    <img src="../../img/inicio1.jpg" alt="Imagen izquierda" class="card-image large-image" />
  </div>
  <div class="right-card">
    <div class="card">
      <div class="card-images">
        <img src="../../img/inicio2.jpg" alt="Imagen derecha" class="card-image small-image" />
        <img src="../../img/inicio3.jpg" alt="Imagen adicional" class="card-image small-image" />
        <img src="../../img/inicio4.jpg" alt="Otra imagen" class="card-image small-image" />
      </div>
      <div class="card-content">
        <h3>Bienvenidos a Navega Salinas!</h3>
        <p>
          ¡Bienvenidos a Navega Salinas!
          Nos complace recibirte en nuestra plataforma de alquiler de barcos en la hermosa ciudad de Salinas. Aquí,
          podrás encontrar una selección de embarcaciones de alta calidad, listas para brindarte una experiencia
          inolvidable en el mar. Estamos aquí para ayudarte a encontrar el barco perfecto de tus sueños para tus
          necesidades. Explora nuestras opciones y disfruta de la belleza y aventura que el océano tiene para ofrecer.
          ¡Bienvenido a bordo y a disfrutar del mar con Navega Salinas!
        </p>
        <button routerLink="/servicio" class="btn btn-primary">Más Información...</button>
      </div>
    </div>
  </div>
</div>




<!-- SECCION DE INFORMACION -->
<div class="custom-card-container">
  <div class="custom-card" *ngFor="let cardInfo of cardInfos">
    <img [src]="cardInfo.imgSrc" [alt]="cardInfo.altText">
    <h3>{{ cardInfo.title }}</h3>
    <p>{{ cardInfo.description }}</p>
  </div>
</div>


<!-- SECCION DE UBICACION -->
<div class="map-container">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d99761.40184200423!2d-80.9659767!3d-2.2278276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x902e0e3633717003%3Abdb03525bc936c45!2sSalinas!5e0!3m2!1ses!2sec!4v1691060470014!5m2!1ses!2sec"
    width="100%"
    height="450"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade">
  </iframe>
</div>
