<!-- ENCABEZADO DE LA PAGINA  -->
<nav class="navbar">
    <div class="logo">
      <img src="ruta-a-tu-logo.png" alt="Logo">
      <span>Navega Salinas</span>
    </div>
    <ul class="nav-links">
      <li><a routerLink="/inicio" routerLinkActive="active-link">Inicio</a></li>
      <li><a routerLink="/servicio" routerLinkActive="active-link">Servicios</a></li>
      <li><a routerLink="/contacto" routerLinkActive="active-link">Contacto</a></li>
    </ul>
  </nav>
  

<router-outlet></router-outlet>


<!-- FOOTER DE LA PAGINA -->
<footer class="footer">
    <div class="social-icons">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-linkedin-in"></i></a>
      <a href="#"><i class="fab fa-youtube"></i></a>
    </div>
    <p>Todos los derechos reservados &copy; 2024</p>
  </footer>
  